<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Orders lists</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-default" [routerLink]="['/order']">Create</a>
        <ul class="nav nav-tabs">
            <li [ngClass]="{'active': isActiveVisible}"><a (click)="show('Active')">Active</a></li>
            <li [ngClass]="{'active': !isActiveVisible}"><a (click)="show('History')">History</a></li>

        </ul>
        <as-orderlist *ngIf="isActiveVisible" [orders]="activeOrders" (changed)="notify($event)"></as-orderlist>
        <as-orderlist *ngIf="!isActiveVisible" [orders]="historyOrders" (changed)="notify($event)"></as-orderlist>

    </div>
</div>